NEXT_PUBLIC_SUPABASE_URL=https://zrymvfodvvummjexispc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyeW12Zm9kdnZ1bW1qZXhpc3BjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3NTcxNTQsImV4cCI6MjA4MDMzMzE1NH0._iVkmnyB9cDmGNlKjLqztEkyN9vK9NPZ9CwPubBuH_0

# Supabase Admin (Bisa diambil dari Dashboard Supabase -> Settings -> API -> service_role key)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyeW12Zm9kdnZ1bW1qZXhpc3BjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDc1NzE1NCwiZXhwIjoyMDgwMzMzMTU0fQ.66LsVrF4b1F3Qqc0qQcHKcNH0YxvOuukN0P_9pMGXKg

# VAPID Keys (Untuk Web Push)
VAPID_SUBJECT=mailto:admin@skjaya.my.id
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BLc76IsUrBnqYvPPJi6OZLrm90vBZbKNbBQp22Io7Zh8HWdkAiJxjKO7vP19kQaIw5JM8NGOukqOhl9-WCX3E90
VAPID_PRIVATE_KEY=nyHvmAwkCUK2pDaMl9tdkfilVwFsJVJ2mWs8sKsk61Q
