# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWKS_URL=
NEXT_PUBLIC_SUPABASE_REQUEST_TIMEOUT_MS=20000
NEXT_PUBLIC_SUPABASE_STORAGE_KEY=cvskj-auth-token
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@example.com

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
